name: hash-funk-threaded
description: Clj snippet
phrase: hash funk threaded

$fnBody.wrapperPhrase: hash funk threaded
---

language: clojure

$fnBody.insertionFormatter: NOOP
-
(#($fnBody $1 % $2))
---
